html,
body,
#root {
  margin: 0;
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 5px silver;
    padding: 1%;
    .title {
      font-weight: bold;
      font-size: 30px;
    }
    .headerItem {
      margin-left: 10px;
      font-weight: bold;
      font-size: 20px;
      color: black;
      text-decoration: none;
    }
    .activeHeaderItem {
      font-size: 25px;
    }
  }
  .layout {
    margin: 1% 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer {
    height: 100px;
    margin-top: auto;
    padding: 1%;
    display: flex;
    justify-content: center;
    border-top: 1px solid silver;
    .title {
      font-weight: bold;
      font-size: 30px;
    }
  }
}

.posts {
  width: 100%;
  height: 100%;
}

.postPreview {
  margin: 3%;
  padding: 2%;
  border: 1px solid silver;
  border-radius: 10px;
  .title {
    margin: 4px;
    font-weight: bold;
    font-size: 30px;
  }
  .postInfo {
    margin: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .date {
      font-weight: bold;
      color: silver;
    }
    .writer {
      font-weight: bold;
    }
  }
}

.inputArea {
  text-align: center;
  .title {
    margin: 20px;
    font-weight: bold;
    font-size: 35px;
  }
  .inputItem {
    margin: 20px;
    input {
      height: 25px;
      width: 500px;
      border: 1px solid silver;
    }
    textArea {
      width: 500px;
      height: 450px;
      resize: none;
      border: 1px solid silver;
    }
  }
  button {
    padding: 8px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    font-size: 30px;
    color: white;
    background-color: black;
  }
  .warning {
    display: none;
    margin-top: 10px;
    color: red;
  }
}

.post {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  .title {
    margin: 10px 5px;
    font-weight: bold;
    font-size: 45px;
  }
  .info {
    margin: 10px 5px;
    display: flex;
    .date {
      margin-right: 10px;
      font-weight: bold;
      color: silver;
    }
    .writer {
      margin-right: 10px;
      font-weight: bold;
    }
  }
  .buttons {
    margin: 10px 5px;
    display: flex;
    button {
      margin-right: 10px;
      padding: 5px;
      width: 90px;
      border: none;
      border-radius: 50px;
      background-color: black;
      color: white;
    }
  }
  pre {
    white-space: pre-wrap;
    font-size: 15px;
  }
}
